{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}

          <div class="mb-3">
                <label>Full name</label>
                {{ form.full_name }}
          </div>

          <div class="mb-3">
                <label>Email</label>
                {{ form.email }}
          </div>

            <div class="mb-3">
                <label>Street Address</label>
                {{ form.street_address }}
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
                {{ form.country }}
            </div>

            <div class="col-md-4 mb-3">
              <label for="state">State</label>
                {{ form.state }}
            </div>

            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
                {{ form.zip }}
            </div>
          </div>

          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
              address</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
              <label class="custom-control-label" for="paypal">PayPal</label>
            </div>
          </div>


          <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>


</div>
{% endblock %}