{% extends 'base.html' %}
{% block content %}
    <h1>Your order</h1>
    <table class="table table-striped">
        <tr>
            <th>Amount</th>
            <th>Item</th>
            <th>Price</th>
        </tr>

        {% for item in cart %}
            <tr>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <h5>Cart total: {{ total }}</h5>
    <button class="detail-btn"><a href="{% url 'checkout' %}">Continue to checkout</a></button>

{% endblock %}