{% extends 'base.html' %}
{% block content %}
    <h1>Coming soon!</h1>

    <script type="text/javascript"
            src="//code.jquery.com/jquery-1.9.1.js">
  </script>
    <link rel="stylesheet"
          type="text/css"
          href="/css/result-light.css">

    <script type="text/javascript"
            src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
    <link rel="stylesheet"
          type="text/css"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          type="text/css"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- container class for bootstrap card-->
    <div class="container">
        <!-- bootstrap card with row name myCarousel as row 1-->
        <div class="carousel slide" id="myCarousel">

            <div class="carousel-inner" style="max-height: 250px">
            {% for product in upcoming %}
                    {% if forloop.first %}
                        <div class="active item" style="max-height: 250px">
                        </div>
                    {% else %}
                        <div class="item" style="max-height: 250px">
                        </div>
                    {% endif %}
                        <div class="product" style="width: 250px">
                            <div class="col-xs-4">
                                <a href="/products/{{ product.id }}">
                                    <img class="product-img" src="{{ product.productimage_set.first.image }}" alt="">
                                    <h5>{{ product.name }}</h5>
                                </a>
                            </div>
                        </div>
            {% endfor %}
            </div>
            <a class="left carousel-control"
                      href="#myCarousel"
                      data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left">
                </i>
            </a>
            <a class="right carousel-control"
                href="#myCarousel"
                data-slide="next">
                <i class="glyphicon glyphicon-chevron-right">
                </i>
            </a>

        </div>
    </div>


{% include 'home/coming_up_ads.html' %}

{% endblock %}