{% extends 'base.html' %}
{% block content %}

    <div id="myBtnContainer" style="text-align: center">
        <a href="{% url 'products-index' %}">
            <button class="btn btn-outline-primary" onclick="filterSelection()" style="width: 15%"> Show all</button>
        </a>
        <a href="{% url 'consoles-index' %}">
            <button class="btn btn-outline-success" onclick="filterSelection()" style="width: 15%">
                Consoles
            </button>
        </a>
        <a href="{% url 'games-index' %}">
            <button class="btn btn-outline-warning" onclick="filterSelection()" style="width: 15%"> Games</button>
        </a>
        <a href="{% url 'accessories-index' %}">
            <button class="btn btn-outline-danger" onclick="filterSelection()" style="width: 15%"> Accessories</button>
        </a>
    </div>



    <div class="products">
        {% for product in accessories %}
            {% include 'products/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}