{% extends 'base.html' %}
{% block content %}
    <div class="products">
        <h2>Welcome to the Products app!</h2>
        <div class="dropdown">
            <span>Genres</span>
            <div class="dropdown-content">
                <p>Action</p>
                <p>Sports</p>
            </div>
        </div>
    </div>

    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here..">
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>

    <div class="products">
        {% for product in products %}
            {% include 'products/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}