{% extends 'base.html' %}
{% block content %}

<div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection()" style="width: 18%"> Show all</button>
    <button class="btn" onclick="filterSelection()" style="width: 18%"> Consoles</button>
    <button class="btn" onclick="filterSelection()" style="width: 18%"> Games</button>
    <button class="btn" onclick="filterSelection()" style="width: 18%"> Accessories</button>
</div>
    <!--
    <div class="products-navbar">
            <ul class="nav_links">
                <div class="consoles">
                    <li><a href="#">Consoles</a></li>
                </div>
                <div class="consoles">
                    <li><a href="#">Games</a></li>
                </div>
                <div class="consoles">
                    <li><a href="#">Accessories</a></li>
                </div>
            </ul>
    </div>


    <div class="products">
        <div class="dropdown">
            <span>Genres</span>
            <div class="dropdown-content">
                <p>Action</p>
                <p>Sports</p>
            </div>
        </div>
    </div>
    -->

    <!--
    <div class="search-product">
        <input type="search" class="form-control" id="search-box" placeholder="Search">
        <div class="search-product-btn">
            <button type="button" id="search-btn" class="form-control">Search</button>
        </div>
    </div>
    -->
    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm ml-3 w-75" id="search-box" type="search" placeholder="Search" aria-label="Search">
    </form>


    <div class="products">
        {% for product in products %}
            {% include 'products/single_product.html' with product=product %}
        {% endfor %}
    </div>
{% endblock %}