{% extends 'base.html' %}
{% block content %}

    <div class="product-details">
        <div class="product-details-imgs">
            {% for product_image in product.productimage_set.all %}
                <img src="{{ product_image.image }}" class="product-img" alt="">
            {% endfor %}
        </div>

        <div class="product-details-items">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}$</p>

            <button class="detail-btn">
                <a href="{% url 'add_to_cart' product.id %}">Add to cart</a>
            </button>

            {% if user.is_authenticated %}
                <button class="detail-btn">
                    <a href="{% url 'delete_product' product.id %}">Delete product</a>
                </button>
                <button class="detail-btn">
                    <a href="{% url 'update_product' product.id %}">Update product</a>
                </button>
            {% endif %}
        </div>

    </div>


{% endblock %}