{% extends 'base.html' %}
{% block content %}

    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}$</p>
    {% for product_image in product.productimage_set.all %}
        <img src="{{ product_image.image }}" class="product-img" alt="">
    {% endfor %}

    <a href="{% url 'delete_product' product.id %}" class="block btn btn-primary">Delete product</a>
    <a href="{% url 'update_product' product.id %}" class="block btn btn-primary">Update product</a>

{% endblock %}