{% extends 'base.html' %}
{% block content %}

    <div class="product-details">
        <div class="product-details-imgs">
            {% for product_image in product.productimage_set.all %}
                <img src="{{ product_image.image }}" class="product-img" alt="">
            {% endfor %}
        </div>

        <div class="product-details-items">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <b><p>{{ product.price }}$</p></b>


            {% if user.is_authenticated %}
                <button class="btn btn-primary">
                    <a class="btn btn-primary" href="{% url 'add_to_cart' product.id %}">Add to cart</a>
                </button>
            {% endif %}
        </div>

    </div>


{% endblock %}