@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

a {
  color: inherit;
  text-decoration: inherit;
}
.container {
}

#page_content.container {
    min-height: 500px;
}

.search-product {
    display: inline-flex;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

.product {
    align-self: stretch;
    text-align: center;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.product h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
    color: black;
}

.product-img {
    width: 150px;
    height: 150px;
    display: inline-block;
    transition: 0.3s;
}

.product-img:hover{
    transform: scale(1.08);
}
.detail-btn {
    background-color: #0362fc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.detail-btn a {
    text-decoration: none;
    color: white;
}

.product-details {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

.product-details-items {
    text-align: left;
    width: 35%;
}

.product-details-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.product-details-imgs img {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.input-group {
    display: inline-flex;
    width: 300px;
}

.consoles {
    flex: 1 1 0;
    height: 50px;
    margin: 10px;
    background-color: black;
    align-self: stretch;
}

.products-navbar {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    padding-top: 70px;
}

.fixed-top {
    z-index: -1;
}

footer {
    background: linear-gradient(360deg, #fa755a, #f8b794d4);
    font-family: 'Montserrat', sans-serif;
    padding: 50px 10px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    width: 100%;
}

.carousel {
display: flex;
}

* {box-sizing: border-box}

.container {
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}


input[type=submit] {
  background-color: #167ac6;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #055da0;
}

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

.inner:not(#special) {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

.hide-md-lg {
  display: none;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }

  .vl {
    display: none;
  }

  .hide-md-lg {
    display: block;
    text-align: center;
  }
}




@media (min-width: 768px) and (max-width: 991px) {
    .carousel-inner:not(#special) .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .carousel-inner:not(#special) .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    .carousel-inner:not(#special) .active + .carousel-item {
        display: block;
    }
    .carousel-inner:not(#special) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner:not(#special) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner:not(#special) .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-inner:not(#special) .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 768px) {
    .carousel-inner:not(#special) .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner:not(#special) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner:not(#special) .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 991px) {
    .carousel-inner:not(#special) .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner:not(#special) .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner:not(#special) .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: scale(1.08);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    .carousel-item:hover {
        transform: scale(1.08);
    }
}

.footer_info .fas {
    font-size: 20px;
    transition: 0.3s;

}

.help:hover {
    color: #555454;

}

.footer-last {
    display: block;
    text-align: center;
}

body {
    background: rgb(182,182,182);
background: linear-gradient(90deg, rgba(182,182,182,1) 0%, rgba(255,255,255,1) 6%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 94%, rgba(216,216,216,1) 100%);
}