@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container {
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
}

.product {
    align-self: stretch;
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.product h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
    color: black;
}

.product-img {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.detail-btn {
    background-color: #0362fc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.detail-btn a {
    text-decoration: none;
    color: white;
}

.product-details {
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
}

.product-details-items {
    text-align: left;
    width: 35%;
}

.product-details-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.product-details-imgs img {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.input-group {
    display: inline-flex;
    width: 300px;
}

.consoles {
    flex: 1 1 0;
    height: 50px;
    margin: 10px;
    background-color: black;
    align-self: stretch;
}

.products-navbar {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
    padding-top: 70px;
}

.fixed-top {
    z-index: -1;
}

