<h1> </h1>
<footer class="page-footer font-small pt-4" id="footer">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9 mb-4">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ssrNcwxALS4"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn btn-social-icon btn-facebook">
            <span class="fab fa-facebook"></span>
        </a>
      </li>
      <li class="list-inline-item">
          <a class="btn btn-social-icon btn-messenger">
            <span class="fab fa-facebook-messenger"></span>
          </a>
      </li>
      <li class="list-inline-item">
          <a class="btn btn-social-icon btn-twitter">
            <span class="fab fa-instagram"></span>
          </a>
      </li>
    </ul>
  </div>
    <div class="footer_info">
        <p style="font-size: 120%">Easy Online Shopping</p>
        <p><i class="fas fa-truck"></i> Free Delivery</p>
        <p><i class="fas fa-calendar-alt"></i> 100 Days Return</p>


       <p>© 2020 Captain Console, Inc.</p>
    </div>
</footer>
<link rel="stylesheet" href="../static/css/main.css">