<h1> </h1>
<footer class="page-footer font-small pt-4" id="footer">
  <div class="container">
    <div class="row d-flex justify-content-center">
    </div>
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
        <a class="btn btn-social-icon btn-facebook" style="background: none;border: none; width: 34px" href="https://www.facebook.com/Captain-Console-102456298132499">
            <span class="fab fa-facebook"></span>
        </a>
        </li>
        <li class="list-inline-item">
          <a class="btn btn-social-icon btn-instagram" style="background: none;border: none; width: 34px" href="https://www.instagram.com/captainconsole/">
            <span class="fab fa-instagram"></span>
          </a>
        </li>
        <li class="list-inline-item">
            <a class="btn btn-social-icon btn-twitter" style="background: none;border: none; width: 34px" href="https://twitter.com/captainconsole">
             <span class="fab fa-twitter"></span>
            </a>
        </li>
    </ul>
  </div>
    <div class="footer_info">
        <p style="font-size: 120%">Easy Online Shopping</p>
        <p><i class="fas fa-truck"></i> Free Delivery</p>
        <p><i class="fas fa-calendar-alt"></i> 100 Days Return</p>
    </div>
    <div class="footer-last">
       <p>© 2020 Captain Console, Inc.</p>
    </div>
</footer>
<link rel="stylesheet" href="../static/css/main.css">