
<header>

    <div class="navbar">
        <nav class="navtag">

            <ul>
                <a href="{% url 'home-index' %}" class="logo-anchor">
                    <img src="../static/Images/Logo.png" alt="" class="logo">
                </a>
                <li><a href="{% url 'products-index' %}">Products</a></li>
                <li><a href="{% url 'store-info-index' %}">Store Info</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <img src="{{ user.profile.profile_image }}" alt="" class="profile-image">
                    <div class="topnav-right">
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'shopping-cart-index' %}"><i class="fas fa-shopping-cart"></i></a></li>
                    </div>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>

        </nav>
    </div>
</header>
<link rel="stylesheet" href="../static/css/navbar.css">