{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to your profile!</h2>
    <link rel="stylesheet" href="../../static/css/user_profile.css">

    <div class="wrapper">
        <div class="left">
            <div class="name_image">
                {% if user.profile %}
                    <img src="{{ user.profile.profile_image }}" alt="user" class="profile-image">
                {% else %}
                    <img src="https://static.thenounproject.com/png/258763-200.png" alt="user" class="profile-image">
                {% endif %}
                <h2>{{ user.username }}</h2>
            </div>
            <a href="{% url 'edit_profile' %}"><i class="fas fa-pen-square"></i></a>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                     <div class="data">
                        <h4>Name</h4>
                         <p>{{ user.profile.name }}</p>
                     </div>
                     <div class="data">
                       <h4>Email</h4>
                        <p>{{ user.profile.email }}</p>
                  </div>
                </div>
            </div>

          <div class="projects">
                <h3>Favorite product</h3>
                <div class="projects_data">
                     <div class="data">
                        <h4>{{ user.profile.favorite_product }}</h4>
                        <p>{{ user.profile.favorite_product.description }}</p>

                     </div>
                </div>
            </div>

        </div>
        <h3>Recently viewed items</h3>
    <div class="search-history">
        {% for item in user_history %}
            <div class="card" style="width: 18rem;">
                <img src="{{ item.product.productimage_set.first.image }}" class="card-img-top" alt="" style="width: 100px; height: 100px">
                <div class="card-body">
                    <h5 class="card-title">{{ item.product.name }}</h5>
                </div>
                <a href="/products/{{ item.product.id }}" class="btn btn-primary" style="margin-top: auto; width: 55%">View product</a>
            </div>
        {% endfor %}
    </div>
    <a href="{% url "history" %}" class="btn btn-success ml-auto mr-1" style="width: 20%">History</a>
    </div>


{% endblock %}