{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the Account app!</h2>
    <link rel="stylesheet" href="../../static/css/user_profile.css">

    <div class="wrapper">
        <div class="left">
            <div class="name_image">
                {% if user.profile %}
                    <img src="{{ user.profile.profile_image }}" alt="user" class="profile-image">
                {% else %}
                    <img src="https://static.thenounproject.com/png/258763-200.png" alt="user" class="profile-image">
                {% endif %}
                <h2>{{ user.username }}</h2>
            </div>
            <a href="{% url 'edit_profile' %}"><i class="fas fa-pen-square"></i></a>
        </div>
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                     <div class="data">
                        <h4>Name</h4>
                         <p>{{ user.profile.name }}</p>
                     </div>
                     <div class="data">
                       <h4>Email</h4>
                        <p>{{ user.profile.email }}</p>
                  </div>
                </div>
            </div>

          <div class="projects">
                <h3>Favorite product</h3>
                <div class="projects_data">
                     <div class="data">
                        <h4>{{ user.profile.favorite_product }}</h4>
                        <p>{{ user.profile.favorite_product.description }}</p>

                     </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}